<div class="container px-5 my-5">
  <div class="text-center mb-5">
    <h1 class="display-5 fw-bolder mb-0">
      <span class="text-gradient d-inline">À propos moi</span>
    </h1>
  </div>
  <div class="row gx-5 justify-content-center">
    <div class="col-lg-11 col-xl-9 col-xxl-8">
      
      <section>
        <div class="d-flex align-items-center justify-content-between mb-4">
          <h2 class="text-primary fw-bolder mb-0">Experience</h2>
          <!-- Download resume button-->
          <!-- Note: Set the link href target to a PDF file within your project-->
          <!-- <a class="btn btn-primary px-4 py-3" href="#!">
            <div class="d-inline-block bi bi-download me-2"></div>
            Télecharger Resumé
          </a> -->
        </div>
        <!-- Experience Card 1-->
        <div class="card shadow border-0 rounded-4 mb-5">
          <div class="card-body p-5">
            <div class="row align-items-center gx-5">
              <div class="col text-center text-lg-start mb-4 mb-lg-0">
                <div class="bg-light p-4 rounded-4">
                  <div class="text-primary fw-bolder mb-2">
                    Juillet 2022 - août 2022
                  </div>
                  <div class="small fw-bolder">Développeur web</div>
                  <div class="small text-muted">
                    Ministére de la Fonction Publique et du Travail en
                  </div>
                  <div class="small text-muted">Nouakchott, Mauritanie</div>
                </div>
              </div>
              <div class="col-lg-8">
                <div>
                  J’ai développé un projet web pour le ministère, permettant aux
                  employés de créer des comptes personnels. Le ministre peut
                  ensuite surveiller et évaluer efficacement le travail des
                  employés grâce à cette plateforme intégrée.
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Experience Card 2-->
        <div class="card shadow border-0 rounded-4 mb-5">
          <div class="card-body p-5">
            <div class="row align-items-center gx-5">
              <div class="col text-center text-lg-start mb-4 mb-lg-0">
                <div class="bg-light p-4 rounded-4">
                  <div class="text-primary fw-bolder mb-2">
                    Février 2023 - Avril 2023
                  </div>
                  <div class="small fw-bolder">Développeur web</div>
                  <div class="small text-muted">
                    Ecole Supérieure de Technologie
                  </div>
                  <div class="small text-muted">Casablanca, Maroc</div>
                </div>
              </div>
              <div class="col-lg-8">
                <div>
                  Le projet de marketplace, disponible en versions web et
                  mobile, accueille deux types d'utilisateurs: les visiteurs
                  peuvent naviguer et acheter avec des options de paiement,
                  tandis que les commerçants peuvent créer des magasins
                  personnalisés via des comptes dédiés.
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Experience Card 3-->
        <div class="card shadow border-0 rounded-4 mb-5">
          <div class="card-body p-5">
            <div class="row align-items-center gx-5">
              <div class="col text-center text-lg-start mb-4 mb-lg-0">
                <div class="bg-light p-4 rounded-4">
                  <div class="text-primary fw-bolder mb-2">
                    Avril 2023 - juin 2023
                  </div>
                  <div class="small fw-bolder">Développeur web</div>
                  <div class="small text-muted">Aptus Consulting</div>
                  <div class="small text-muted">Casablanca, Maroc</div>
                </div>
              </div>
              <div class="col-lg-8">
                <div>
                  Le projet vise à créer une plateforme de quiz interactive pour
                  les professeurs, leur permettant de créer, modifier et
                  personnaliser des quiz en définissant des paramètres tels que
                  titre, date et questions. , et les professeurs peuvent
                  également éditer ou supprimer les quizzes existants.
                </div>
              </div>
            </div>
          </div>
        </div>
            <!-- Experience Card 4-->
        <div class="card shadow border-0 rounded-4 mb-5">
          <div class="card-body p-5">
            <div class="row align-items-center gx-5">
              <div class="col text-center text-lg-start mb-4 mb-lg-0">
                <div class="bg-light p-4 rounded-4">
                  <div class="text-primary fw-bolder mb-2">
                    Avril 2024 - juin 2024
                  </div>
                  <div class="small fw-bolder">Développeur web</div>
                  <div class="small text-muted">ISCAE</div>
                  <div class="small text-muted">Nouakchott, Mauritanie</div>
                </div>
              </div>
              <div class="col-lg-8">
                <div>
                  Le projet de développement d'un système notarial a permis de créer une solution
                  complète et innovante pour la gestion des acheteurs, des vendeurs, des terrains, des actes et des
                  procurations pour les enfants mineurs. Grâce à l'effort collaboratif de notre équipe de trois
                  personnes, nous avons pu mettre en place une application qui non seulement répond aux
                  besoins actuels des notaires mais aussi introduit des améliorations significatives en termes de
                  précision, d'efficacité et de traçabilité.
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- Education Section-->
      <section>
        <h2 class="text-secondary fw-bolder mb-4">Education</h2>
        <!-- Education Card 1-->
        <div class="card shadow border-0 rounded-4 mb-5">
          <div class="card-body p-5">
            <div class="row align-items-center gx-5">
              <div class="col text-center text-lg-start mb-4 mb-lg-0">
                <div class="bg-light p-4 rounded-4">
                  <div class="text-secondary fw-bolder mb-2">2019 - 2020</div>
                  <div class="mb-2">
                    <div class="small fw-bolder">Lycée Elveth El Hourra</div>
                    <div class="small text-muted">
                      Hodh El Gharbi, Mauritanie
                    </div>
                  </div>
                  <div class="fst-italic">
                    <div class="small text-muted">Baccalauréat</div>
                    <div class="small text-muted">Option Scientifique</div>
                  </div>
                </div>
              </div>
              <div class="col-lg-8">
                <div>
                  Le baccalauréat est un prérequis pour l'entrée à l'université
                  ou dans d'autres établissements d'enseignement supérieur en
                  Mauritanie. Il est également reconnu internationalement comme
                  un certificat de fin d'études secondaires.
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Education Card 2-->
        <div class="card shadow border-0 rounded-4 mb-5">
          <div class="card-body p-5">
            <div class="row align-items-center gx-5">
              <div class="col text-center text-lg-start mb-4 mb-lg-0">
                <div class="bg-light p-4 rounded-4">
                  <div class="text-secondary fw-bolder mb-2">2021 - 2023</div>
                  <div class="mb-2">
                    <div class="small fw-bolder">
                      Ecole Supérieure de Technologie de Casablanca
                    </div>
                    <div class="small text-muted">Casablanca, Maroc</div>
                  </div>
                  <div class="fst-italic">
                    <div class="small text-muted">DUT</div>
                    <div class="small text-muted">Génie Informatique</div>
                  </div>
                </div>
              </div>
              <div class="col-lg-8">
                <div>
                  Le Diplôme Universitaire de Technologie (DUT) est un diplôme
                  d'enseignement supérieur qui existe au Maroc. C'est un diplôme
                  de niveau Bac +2 qui vise à former des techniciens supérieurs
                  dans des domaines spécifiques.Les titulaires du diplôme
                  peuvent s'insérer rapidement dans le marché du travail ou
                  poursuivre leurs études pour obtenir des diplômes plus
                  avancés, comme la Licence ou le Master
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Education Card 3-->
        <div class="card shadow border-0 rounded-4 mb-5">
          <div class="card-body p-5">
            <div class="row align-items-center gx-5">
              <div class="col text-center text-lg-start mb-4 mb-lg-0">
                <div class="bg-light p-4 rounded-4">
                  <div class="text-secondary fw-bolder mb-2">2023 - 2024</div>
                  <div class="mb-2">
                    <div class="small fw-bolder">
                      Institut Supérieur de Comptabilité et d'administration des
                      Entreprises
                    </div>
                    <div class="small text-muted">Nouakchott, Mauritanie</div>
                  </div>
                  <div class="fst-italic">
                    <div class="small text-muted">Licence</div>
                    <div class="small text-muted">
                      Développement Informatique
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-8">
                <div>
                  La licence en développement informatique à l'Institut
                  Supérieur de Comptabilité et d'Administration des Entreprises
                  (ISCAE) en Mauritanie est un diplôme de niveau Bac +3 qui
                  forme les étudiants aux compétences avancées en informatique.
                  Ce programme est conçu pour fournir aux étudiants une base
                  solide en informatique et en développement de logiciels, en
                  mettant l'accent sur l'acquisition de compétences pratiques et
                  théoriques.
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- Divider-->
      <div class="pb-5"></div>
      <!-- Skills Section-->
      <section>
        <!-- Skillset Card-->
        <div class="card shadow border-0 rounded-4 mb-5">
          <div class="card-body p-5">
            <!-- Professional skills list-->
            <div class="mb-5">
              <div class="d-flex align-items-center mb-4">
                <div
                  class="feature bg-primary bg-gradient-primary-to-secondary text-white rounded-3 me-3"
                >
                  <i class="bi bi-tools"></i>
                </div>
                <h3 class="fw-bolder mb-0">
                  <span class="text-gradient d-inline"
                    >Compétences Professionnelles</span
                  >
                </h3>
              </div>
              <div class="row row-cols-1 row-cols-md-3 mb-4">
                <div class="col mb-4 mb-md-0">
                  <div
                    class="d-flex align-items-center bg-light rounded-4 p-3 h-100"
                  >
                    Programmation
                  </div>
                </div>
                <div class="col mb-4 mb-md-0">
                  <div
                    class="d-flex align-items-center bg-light rounded-4 p-3 h-100"
                  >
                    Structures de Données
                  </div>
                </div>
                <div class="col">
                  <div
                    class="d-flex align-items-center bg-light rounded-4 p-3 h-100"
                  >
                    Développment Web
                  </div>
                </div>
              </div>
              <div class="row row-cols-1 row-cols-md-3">
                <div class="col mb-4 mb-md-0">
                  <div
                    class="d-flex align-items-center bg-light rounded-4 p-3 h-100"
                  >
                    Réseaux Informatique
                  </div>
                </div>
                <div class="col mb-4 mb-md-0">
                  <div
                    class="d-flex align-items-center bg-light rounded-4 p-3 h-100"
                  >
                    Bases de données
                  </div>
                </div>
                <div class="col">
                  <div
                    class="d-flex align-items-center bg-light rounded-4 p-3 h-100"
                  >
                    Systèmes d'exploitations
                  </div>
                </div>
              </div>
            </div>
            <!-- Languages list-->
            <div class="mb-0">
              <div class="d-flex align-items-center mb-4">
                <div
                  class="feature bg-primary bg-gradient-primary-to-secondary text-white rounded-3 me-3"
                >
                  <i class="bi bi-code-slash"></i>
                </div>
                <h3 class="fw-bolder mb-0">
                  <span class="text-gradient d-inline">Languages</span>
                </h3>
              </div>
              <div class="row row-cols-1 row-cols-md-3 mb-4">
                <div class="col mb-4 mb-md-0">
                  <div
                    class="d-flex align-items-center bg-light rounded-4 p-3 h-100"
                  >
                    HTML
                  </div>
                </div>
                <div class="col mb-4 mb-md-0">
                  <div
                    class="d-flex align-items-center bg-light rounded-4 p-3 h-100"
                  >
                    CSS
                  </div>
                </div>
                <div class="col">
                  <div
                    class="d-flex align-items-center bg-light rounded-4 p-3 h-100"
                  >
                    JavaScript
                  </div>
                </div>
              </div>
              <div class="row row-cols-1 row-cols-md-3">
                <div class="col mb-4 mb-md-0">
                  <div
                    class="d-flex align-items-center bg-light rounded-4 p-3 h-100"
                  >
                    C
                  </div>
                </div>
                <div class="col mb-4 mb-md-0">
                  <div
                    class="d-flex align-items-center bg-light rounded-4 p-3 h-100"
                  >
                    PHP
                  </div>
                </div>
                <div class="col">
                  <div
                    class="d-flex align-items-center bg-light rounded-4 p-3 h-100"
                  >
                    Angular
                  </div>
                </div>

                
              </div>

            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>
