<section class="py-5">
  <div class="container px-3 px-lg-5 mb-5">
    <div class="text-center mb-5">
      <h1 class="display-5 fw-bolder mb-0">
        <span class="text-gradient d-inline">Projets</span>
      </h1>
    </div>
    <div class="row gx-3 gx-lg-5 justify-content-center">
      <div class="col-lg-4 col-md-6 mb-5">
        <div class="card overflow-hidden shadow rounded-4 border-0">
          <div class="card-body p-0">
            <div class="d-flex align-items-center">
              <img class="img-fluid" src="assets/todo.png" alt="..." />
              <div class="p-4">
                <h2 class="fw-bolder">To Do List</h2>
                <p>
                  To-List App est une application Web simple développée en Angular qui vous permet de créer, afficher, modifier et supprimer des éléments d'une liste. Cette application utilise des concepts angulaires fondamentaux, notamment la liaison de données et les directives structurelles.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 mb-5">
        <div class="card overflow-hidden shadow rounded-4 border-0">
          <div class="card-body p-0">
            <div class="d-flex align-items-center">
              <img class="img-fluid" src="assets/Crud.png" alt="..." />
              <div class="p-4">
                <h2 class="fw-bolder">Crud</h2>
                <p>
                  Cette application est un exemple de système CRUD (Create, Read, Update, Delete) développé avec Angular. Il permet aux utilisateurs d'afficher, de créer, de modifier et de supprimer des éléments à partir d'une interface utilisateur intuitive.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 mb-5">
        <div class="card overflow-hidden shadow rounded-4 border-0">
          <div class="card-body p-0">
            <div class="d-flex align-items-center">
              <img class="img-fluid" src="assets/trello.png" alt="..." />
              <div class="p-4">
                <h2 class="fw-bolder">Trello</h2>
                <p>
                  Trello App est une application web simple développée en Angular qui permet d'ajouter, de visualiser, d'éditer et de supprimer des tâches.Cette application utilise des concepts fondamentaux d'Angular, notamment la liaison de données et les directives structurelles.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 mb-5">
        <div class="card overflow-hidden shadow rounded-4 border-0">
          <div class="card-body p-0">
            <div class="d-flex align-items-center">
              <img class="img-fluid" src="assets/weather.png" alt="..." />
              <div class="p-4">
                <h2 class="fw-bolder">Weather App</h2>
                <p>
                  Bienvenue dans le projet Weather App, une application simple développée avec Angular.Cette application vous permet de visualiser les températures des villes par liste ou individuellement. Les statistiques des villes sont également enregistrées.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 mb-5">
        <div class="card overflow-hidden shadow rounded-4 border-0">
          <div class="card-body p-0">
            <div class="d-flex align-items-center">
              <img class="img-fluid" src="assets/Download-Upload.png" alt="..." />
              <div class="p-4">
                <h2 class="fw-bolder">Download-Upload</h2>
                <p>
                  Bienvenue dans le projet Download-Upload Ce projet, créé avec Angular, permet aux utilisateurs d'importer et de télécharger des fichiers de type image, PDF, et autres. Il offre une interface simple et intuitive pour gérer les opérations de téléchargement et d'importation de fichiers.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Call to action section-->
<section class="py-5 bg-gradient-primary-to-secondary text-white">
  <div class="container px-5 my-5">
    <div class="text-center">
      <h2 class="display-4 fw-bolder mb-4">Construisons quelque chose ensemble</h2>
      <a class="btn btn-outline-light btn-lg px-5 py-3 fs-6 fw-bolder" routerLink="/contact">Contactez moi</a>
    </div>
  </div>
</section>
